body {
    margin: 0;
  }
  
  $tableWidth: 500px;
  $ballSize: 100px;
  
  .table {
    height: 50px;
    width: $tableWidth;
    border: 3px solid #000;
    background-color: #ff0;
  }
  
  .ball::before {
    content: "A";
  }
  
  .ball {
    width: $ballSize;
    height: $ballSize;
    border-radius: 50%;
  
    text-align: center;
    background-color: #f00;

    animation: 1s linear 1;
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
        transform: translateX(0%);
    }
    to {
        transform: rotate(360deg);
        transform: translateX(0%);
    }
  }
  